@{
    ViewData["Title"] = "MoreDetailed";
}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">教育領域</a></li>
    <li class="breadcrumb-item"><a href="#">教育學學門</a></li>
    <li class="breadcrumb-item" aria-current="page">教育學學類</li>
    <li class="breadcrumb-item active" aria-current="page">綜合教育細學類</li>
    <li class="breadcrumb-item"><a href="#">國立政治大學</a></li>
  </ol>
</nav>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">學生類</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">教職類</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">校務類</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="card-deck pt-5">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊1</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text">name2:number</p>
          <p class="card-text">name3:number</p>
          <p class="card-text">name4:number</p>
          <p class="card-text">name5:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊2</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text">name2:number</p>
          <p class="card-text">name3:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊3</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
    </div>
    <hr/>
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊4</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊5</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊6</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
    </div>
    <hr/>
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊7</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊8</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">表冊9</h5>
        </div>
        <div class="card-body">
          <p class="card-text">name1:number</p>
          <p class="card-text"><small class="text-muted">說明</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row row-cols-2 row-cols-md-3 pt-5">
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊1</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊2</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊3</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊4</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊5</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊6</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊7</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊8</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="row row-cols-2 row-cols-md-3 pt-5">
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊1</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊2</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊3</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊4</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊5</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊6</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊7</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                  <h5 class="card-title">表冊8</h5>
                </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class ="btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button">統計一覽</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#nav-tab li:last-child a').tab('show')
  })
</script>