@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>ASP.NET Core Authentication</h2>
    <p>You are on the <strong>About</strong> page at @DateTime.Now.ToString()</p>
    <a asp-controller="Security" asp-action="Logout">Logout</a>
</div>
